build
dist
problems/*/data
problems/hash.ipynb
*.pyc
.DS_Store
*.csv
joblib
*.log
*.lock
db/*
submissions/*
# tools/*
databoard.egg-info
user_batches
old_stuff
.coverage
problems/*/old_submissions
test_submissions/submission*
