# This is the testing environment.
name: testenv
dependencies:
  - numpy
  - pyyaml
  - sqlalchemy
  - psycopg2
  - pandas
  - scikit-learn
  - Flask
  - Flask-Shelve
  - Flask-Login
  - Flask-Openid
  - Flask-Mail
  - Flask-SQLAlchemy
  - Flask-Wtf
  - unidecode
  - termcolor
  - pytest
  - pytest-cov
  - jupyter
  - gitpython
  - scikit-image
  - bokeh
  - matplotlib
  - pycrypto
  - ipykernel
  - pip:
    - psycopg2-binary
    - git+https://github.com/paris-saclay-cds/ramp-workflow