# This is the testing environment.
channels:
  - conda-forge
dependencies:
  - bcrypt=3.2.0
  - bokeh=2.4.2
  - boto3
  - click=8.1.2
  - codecov
  - email-validator=1.1.3
  - flake8
  - Flask=2.0.3
  - werkzeug=2.0.3
  - Flask-Login=0.5.0
  - flask-mail=0.9.1
  - Flask-SQLAlchemy=2.5.1
  - flask-wtf=1.0.0
  - gitpython
  - itsdangerous=2.1.2
  - nbconvert
  - numpy
  - pandas=1.3.5
  - pip
  - psycopg2=2.9.3
  - pyyaml=6.0
  - pytest
  - pytest-cov
  - scikit-image=0.19.2
  - sqlalchemy==1.4.32
  - pip:
    - ramp-workflow==0.5.0
