# This is the testing environment.
name: testenv
dependencies:
  - bcrypt
  - bokeh
  - boto3
  - click
  - flake8
  - Flask
  - Flask-Login
  - Flask-SQLAlchemy
  - gitpython
  - itsdangerous
  - nbconvert
  - numpy
  - pandas
  - pip
  - pyyaml
  - pytest
  - pytest-cov
  - scikit-image
  - sqlalchemy
  - pip:
    - codecov
    - git+https://github.com/paris-saclay-cds/ramp-workflow@advanced
    - psycopg2-binary
    - Flask-Mail
    - Flask-Wtf  # install from conda default channel when 0.14.3 is available
    - wtforms[email]
