backports.tempfile  # to be removed when dropping Python 2
bcrypt
bokeh
click
flake8
Flask
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-Wtf
gitpython
ipykernel
jupyter
numpy
pandas
pytest
pytest-cov
pyyaml
psycopg2
sqlalchemy
six
git+https://github.com/paris-saclay-cds/ramp-workflow