jupyter
nose
numpy>=1.9.2
pandas>=0.18.0
scikit-learn>=0.18
enum34>=1.0.4
GitPython>=0.3.6
Flask>=0.10.1
Flask-Shelve>=0.1.1
Flask-Login>=0.3.2
Flask-Openid>=1.2.5
Flask-Mail>=0.9.1
Flask-SQLAlchemy>=2.1
Flask-Wtf>=0.12
Flask-Migrate>=1.6.0
MarkupSafe==0.23
psycopg2
PyWavelets==0.5.1
sqlalchemy>=1.0.9
xkcdpass<=1.4.2
termcolor
bokeh
scikit-image
matplotlib
unidecode
Fabric
