{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<h3>Go to the <a href='/leaderboard'>leaderboard</a></h3>
<h1>Registration</h1>
<form class="ui form" method="post" action="/add/">
    <div class="two fields">
        <div class="required field">
            <label>Team name</label>
            <div class="ui input">
                <input type="text" placeholder="Repository name" name="name">
            </div>
        </div>
        <div class="required field">
            <label>Link to your GIT repository</label>
            <div class="ui input">
                <input type="text" placeholder="/path/to/repo" name="url">
            </div>
        </div>
        <input type="submit" value="Add" class="ui submit button">
    </div>
</form>
<h1>Teams list</h1>
<div className="ui page stackable grid">
    {% for sm in submodules %}
    <div className="column">
        <div class="ui card">
            <div class="content">
                <div class="header">{{sm.name}}</div>
                <div class="meta">
                    <span><a href="{{ sm.url|safe }} ">{{sm.url}}</a></span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}