{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}

{% if messages %}
<div id="formerror" class="ui modal">
    <div class="header">
        Error when adding the repository
    </div>
    <div class="content">
        {% for message in messages %}
        <div class="description">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="actions">
        <div class="ui button">Close</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#formerror.modal')
            .modal('setting', 'transition', 'Fade Up')
            .modal('show')
        ;
    });
</script>
{% endif %}
{% endwith %}

<h1 class="ui horizontal header divider" style="padding: 20px ">Registration</h1>
<form class="ui form" method="post" action="/add/">
    <div class="two fields">
        <div class="required field">
            <label>Team name</label>
            <div class="ui input">
                <input type="text" placeholder="Repository name" name="name">
            </div>
        </div>
        <div class="required field">
            <label>Link to your GIT repository</label>
            <div class="ui input">
                <input type="text" placeholder="/path/to/repo" name="url">
            </div>
        </div>
        <input type="submit" value="Add" class="ui submit button">
    </div>
</form>

{% if submodules %}
<h1 class="ui horizontal header divider">Teams list</h1>
<div class="ui fluid stackable grid">
    {% for sm in submodules %}
    <div class="eight wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{sm.name}}</div>
                <div class="meta">
                    <span><a href="{{ sm.url|safe }} ">{{sm.url}}</a></span>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<h4 class="ui horizontal header divider">Go to the <a href='/leaderboard'>leaderboard</a></h4>
{% endblock %}