{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Model code{% endblock %}
{% block content %}

<div class="ui stackable one column page grid">
    <div class="column">
        {% if model_url %}
        <a href="{{model_url}}"><h4 class="ui horizontal header divider"><i class="download icon"></i>Download</h4></a>
        {% endif %}
        <pre class="prettyprint linenums">{{code}}</pre>
    </div>
</div> 

{% endblock %}