<html>
    <head>
        {% block head %}
        <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
        <title>{% block title %}{% endblock %} - Databoard</title>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body style="margin:50px" {% block bodyoptions %}{% endblock %}>
        <div id="header">
            {% block header %}
            <h1 class="ui center aligned icon header blue">
                <a href='/'>
                <i class="circular users icon"></i>
                Databoard
                </a>
            </h1>
            {% endblock %}
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>
