<html>
    <head>
        {% block head %}
        <script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
        <title>{% block title %}{% endblock %} - RAMP</title>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body {% block bodyoptions %}{% endblock %}>
        <div id="header">
            {% block header %}
            <div class="ui three column middle aligned grid" style="padding:20px">
              <div class="five wide column">
                <a href='/'>
                  <h2 class="ui blue header">
                      <i class="circular users icon"></i>
                      <div class="content">
                        RAMP
                        <div class="sub header">Rapid Analytics and Model Prototyping</div>
                      </div>
                  </h2>
                </a>
              </div>
              <!-- <div class="ui vertical fitted divider"></div> -->
              <div class="six wide column">
              {% if event %}
                <h2 class="ui orange header">{{ event.title }}</h2>
              {% endif %}
              </div>
              <div class="five wide right aligned column">
                {% if session.logged_in %}
                  <a href="{{ url_for('logout') }}">log out</a><br>
                {% endif %}
              </div>  
            </div>
            <!-- <div class="ui menu">
              <a class="active item">
                <i class="home icon"></i> Home
              </a>
              <a class="item">
                <i class="mail icon"></i> Messages
              </a>
              <div class="right menu">
                <div class="item">
                  <div class="ui transparent icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                  </div>
                </div>
              </div>
            </div> -->
            {% endblock %}
        </div>
        <div id="content" style="padding:20px">{% block content %}{% endblock %}</div>
    </body>
</html>
