{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tablesort.js') }}"></script>
{% endblock %}
{% block title %}Dashboard submissions{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
<div id="formerror" class="ui modal">
    {% for category, message in messages %}
        <div class="header">
            {{ category }}
        </div>
        <div class="content">
            <div class="description">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="actions">
        <div class="ui button">Close</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#formerror.modal')
            .modal('setting', 'transition', 'Fade Up')
            .modal('show')
        ;
    });
</script>
{% endif %}
{% endwith %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  function sortTables() {
    $('table.dataframe thead th').filter(function() {
      return $(this).text() === 'score';
    }).addClass('descending');

    $('.sortable.table').tablesort();
  }

  function updateLeaderboards() {
    $.getJSON($SCRIPT_ROOT + '/_leaderboard', {}, function(data) {
      $("#failed_models").html(data.failed_models);
      $("#new_models").html(data.new_models);
    });
    timeout = setTimeout(updateLeaderboards, 3000);  // 3 sec 
    sortTables();
  }

  $(document).ready(function() {
    sortTables();
  });
</script>

<script>
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('txt').innerHTML=h+":"+m+":"+s;
t=setTimeout(function(){startTime()},500);
}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}
</script>
<div class="ui stackable two column grid">
  <div class="one column row">
    <div class="column">
      <h3 class="ui horizontal header divider">General information</h3>
      <p>Opening time of the event: {{ event.opening_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
      <p>Send data to datarun and split between train and test on datarun: <a href='/{{ event.name }}/send_data_datarun'><i class='plane icon'></i><i class='plane icon'></i></a> 
      <!-- <p>Open submissions? <b>TODO</b>  --!>
      <!-- <p>Time between two submissions: <b>TODO</b> --!>
    </div>
  </div>

  <div class="one column row">
    <div class="column">
      <h3 class="ui horizontal header divider">Submissions</h3>
        <div class="column">
          <center><div id="submissions_stat" style="width: 1000px; height: 400px;"><!-- Plotly --></div></center> 
        </div>
    </div>
  </div>
  <div class="column">
    <div id="id_new_models">
      <h4 class="ui horizontal header divider">New submissions (pending training)</h4>
      <div id='new_models'>{{new_leaderboard|safe}}</div>
    </div>
  </div>
  <div class="column">
    <div id="id_failed_models">
      <h4 class="ui horizontal header divider">Failed submissions</h4>
      <div id='failed_models'>{{failed_leaderboard|safe}}</div>
    </div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
var training_time =   {
    x: {{ timestamp_submissions|safe }},
    y: {{ training_sec }},
    mode: 'markers',
    type: 'scatter',
    text: {{ name_submissions|tojson|safe }},
    marker: { size: 12 },
    name: 'training time'
  };
var cum_submissions =   {
    x: {{ timestamp_submissions|safe }},
    y: {{ cumulated_submissions|safe }},
    type: 'scatter',
    text: {{ name_submissions|tojson|safe }},
    marker: { size: 12 },
    name: '# submissions',
    xaxis: 'x2',
    yaxis: 'y2',
  };
var layout = {
  xaxis: {
    domain: [0, 0.4],
    title: 'submission timestamp',
  },
  yaxis: {
    title: 'time between submission and training',
  },
  yaxis2: {
    anchor: 'x2',
    title: 'cumulated submission number',
  },
  xaxis2: {
    domain: [0.6, 1],
    title: 'submission timestamp'
  },
};
var data = [training_time, cum_submissions];
Plotly.newPlot('submissions_stat', data, layout);
</script>
{% endblock %}
