{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}Leaderboards{% endblock %}
{% block content %}

<h3 class="ui horizontal header divider">Information</h3>

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration -->

{{ description|safe }}

<h2>
<a href="/events/{{ event.name }}/starting_kit">Starting kit</a>
</h2>

<h3 class="ui horizontal header divider">Rules</h3>
<ul>
<li>Submissions will open at (UTC) {{ event.opening_timestamp }}
<li>When you submit, your submission is sent to be trained automatically. The jobs may wait some time in a queue before being run so be patient. There is a running time limit of 15 minutes in this queue. If your submission comes back with timeout or memory error, we can retrain it manually on a bigger server.</li>
<li>Pending (untrained) and failing submissions can be resubmitted under the same name at an arbitrary frequency.</li>
<li>Once your submission is trained, it cannot be deleted or replaced.</li>
<li> After each succesfully trained submission, you have to wait {{ event.min_duration_between_submissions }}s to resubmit. </li>
<li>The leaderboard is in "hidden" mode until (UTC) {{ event.public_opening_timestamp }} which means that all scores are visible, but the links pointing to the code of the participants are hidden. After (UTC) {{ event.public_opening_timestamp }}, all submitted codes are public. <b>You will be encouraged to look at and reuse each other's code.</b>
</ul>

{% endblock %}
