{% extends "base.html" %}
{% block title %}Leaderboards{% endblock %}
{% block content %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function load_leaderboards() {
      $.getJSON($SCRIPT_ROOT + '/_leaderboard', {}, function(data) {
        $("#leaderboard_1").html(data.leaderboard_1);
        $("#leaderboard_2").html(data.leaderboard_2);
        $("#failed_models").html(data.failed_models);
        if (! data.failed_models)
            $("#id_failed_models").hide();
        else
            $("#id_failed_models").show();

        $("#new_models").html(data.new_models);
        if (! data.new_models)
            $("#id_new_models").hide();
        else
            $("#id_new_models").show();
        timeout = setTimeout(load_leaderboards, 3000);  // 3 sec 
      });
  });
  
  var $checkbox = $("#autorefresh");
  $checkbox.checkbox({
    onEnable: function() {
        timeout = setTimeout(load_leaderboards, 3000);
        console.log("onEnable!" + $checkbox.prop("checked"));
    },
    onDisable: function() {
        clearTimeout(timeout);
        console.log("onDisable!" + $checkbox.prop("checked"));
    }
  });

  $('.popup').popup({
    inline   : true,
    hoverable: true,
    position : 'bottom left',
    delay: {
        show: 300,
        hide: 800
    }
  });

</script>

<!-- <div class="ui toggle checkbox" id="autorefresh">
    <input type="checkbox" name="public">
    <label>Auto-refresh</label>
</div> -->

<div class="ui stackable two column grid">
    {% if leaderboard_1|length and leaderboard_2|length %}
    <div class="column">
        <h2 class="ui horizontal header divider">Best models</h2>
        <div id='leaderboard_1'>{{leaderboard_1|safe}}</div>
    </div>
    <div class="column">
        <h2 class="ui horizontal header divider">Most contributive models</h2>
        <div id='leaderboard_2'>{{leaderboard_2|safe}}</div>
    </div>
    {% endif %} 
    <div class="column">
    {% if new_models|length %}
      <div id="id_new_models">
        <h2 class="ui horizontal header divider">New models</h2>
        <div id='new_models'>{{new_models|safe}}</div>
      </div>
    {% endif %} 
    </div>
    <div class="column">
    {% if failed_models|length %}
      <div id="id_failed_models">
        <h2 class="ui horizontal header divider">Failed models</h2>
        <div id='failed_models'>{{failed_models|safe}}</div>
      </div>
    {% endif %} 
    </div>
</div>
{% endblock %}
