{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='tablesort.js') }}"></script>
{% endblock %}
{% block title %}Leaderboards{% endblock %}
{% block content %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  // var $checkbox = $("#autorefresh");
  // $checkbox.checkbox({
  //   onEnable: function() {
  //       timeout = setTimeout(updateLeaderboards, 3000);
  //       console.log("onEnable!" + $checkbox.prop("checked"));
  //   },
  //   onDisable: function() {
  //       clearTimeout(timeout);
  //       console.log("onDisable!" + $checkbox.prop("checked"));
  //   }
  // });

  // $('.popup').popup({
  //   inline   : true,
  //   hoverable: true,
  //   position : 'bottom left',
  //   delay: {
  //       show: 300,
  //       hide: 800
  //   }
  // });
</script>
<script type=text/javascript>
  function sortTables() {
    // $('table.dataframe thead tr th:first-child').data('sortBy', function(th, td, tablesort) {
    //       return parseInt(td.text(), 10);
    // });
    // $('table.dataframe thead th').filter(":contains('score')").data('sortBy', function(th, td, tablesort) {
    //       return parseFloat(td.text());
    // });
    // $('table.dataframe thead th').filter(":eq('score')").addClass('descending');
    $('table.dataframe thead th').filter(function() {
      return $(this).text() === 'score';
    }).addClass('descending');

    $('.sortable.table').tablesort();
  }

  function updateLeaderboards() {
    $.getJSON($SCRIPT_ROOT + '/_leaderboard', {}, function(data) {
      $("#leaderboard").html(data.leaderboard);
      $("#failed_models").html(data.failed_models);
      $("#new_models").html(data.new_models);
      // if (! data.new_models)
      //     $("#id_new_models").hide();
      // else
      //     $("#id_new_models").show();
      // if (! data.failed_models)
      //     $("#id_failed_models").hide();
      // else
      //     $("#id_failed_models").show();
    });
    timeout = setTimeout(updateLeaderboards, 3000);  // 3 sec 
    sortTables();
  }

  $(document).ready(function() {
    sortTables();
    // timeout = setTimeout(updateLeaderboards, 3000);  // 3 sec 
  });
</script>

<!-- <div class="ui toggle checkbox" id="autorefresh">
    <input type="checkbox" name="public">
    <label>Auto-refresh</label>
</div> -->

<div class="ui stackable two column grid">
  <div class="one column row">
    <div class="column">
      <h3 class="ui horizontal header divider">Leaderboard</h3>
      <div id='leaderboard'>{{leaderboard|safe}}</div>
    </div>
  </div>
<!-- 
  <div class="column">
    <div id="id_new_models">
      <h3 class="ui horizontal header divider">New models</h3>
      <div id='new_models'>{{new_models|safe}}</div>
    </div>
  </div>
  <div class="column">
    <div id="id_failed_models">
      <h3 class="ui horizontal header divider">Failed models</h3>
      <div id='failed_models'>{{failed_models|safe}}</div>
    </div>
  </div>
-->
</div>

{% endblock %}
