{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Model code{% endblock %}
{% block content %}

{% if listing %}
    {% set left_col_width = 'twelve' %}    
{% else %}
    {% set left_col_width = 'sixteen' %}
{% endif %}

<div class="ui stackable two column grid">
    <div class="{{ left_col_width }} wide column">
        {% if model_url %}
        <a href="{{model_url}}"><h4 class="ui horizontal header divider grey"><i class="download grey icon"></i>Download</h4></a>
        {% endif %}
        <pre class="prettyprint linenums">{{code}}</pre>
    </div>
    {% if listing %}
    <div class="four wide column">
        <a href="{{archive_url}}"><h4 class="ui horizontal header divider grey"><i class="folder open grey icon"></i>Archive</h4></a>
        
        {% for f in listing %}
        <div class="ui fluid card">
            <div class="content">
                <div class="description">
                    <a href="{{f}}"><i class="file grey icon"></i>{{f}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div> 

{% endblock %}