{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/theme/railscasts.min.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/python/python.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/addon/selection/active-line.min.js"></script>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
<div id="formerror" class="ui modal">
    {% for category, message in messages %}
        <div class="header">
            {{ category }}
        </div>
        <div class="content">
            <div class="description">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="actions">
        <div class="ui button">Close</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#formerror.modal')
            .modal('setting', 'transition', 'Fade Up')
            .modal('show')
        ;
    });
</script>
{% endif %}
{% endwith %}
<h3 class="ui horizontal header divider grey">Sandbox</h3>
You can either edit and save the code in the left column or upload the files in the right column. You can also import code from other submissions when the <a href="/leaderboard">leaderboard</a> links are open. <p>
<div class="ui stackable two column grid">
    <div class="ten wide column">
        <form class="ui form" method="post" action="" name="save">
            {{ code_form.hidden_tag() }}
            <div class="one field">
                {% for name_code in code_form.names_codes %}
                    <h4 class="ui horizontal header divider grey">{{ name_code[0] }}</h4>
                    <div>
                    <textarea cols="80" id="{{ name_code[0] }}" name="{{ name_code[0] }}" rows="50">{{ name_code[1] }}</textarea>
                    </div>
                {% endfor %}
                <h4 class="ui horizontal header divider grey">Save files</h4>
                <input type="submit" value="Save" class="ui submit button">
            </div>
        </form>
    </div>
    <div class="six wide column">
        <div class="ui sticky">
        <p>
        <h4 class="ui horizontal header divider grey">File list</h4>
            {% for f in submission_names %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="description">
                        <i class="file grey icon"></i>{{ f }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p>
        <div class="ui sticky">
        <h4 class="ui horizontal header divider grey">Upload file</h4>
            <form class="ui form" action="" method="post" enctype="multipart/form-data">
                {{ upload_form.hidden_tag() }}
                <input type="file" name="file" class="ui submit button">
                <input type="submit" value="Upload" class="ui upload button">
            </form>
        </div>
        <div class="ui sticky">
        <h4 class="ui horizontal header divider grey">Submit</h4>
            <form class="ui form" method="post" action="" name="submit">
                {{ submit_form.hidden_tag() }}
                <div class="one field">
                    <div class="required field">
                        <label>Submission name (between 4 and 20 characters)</label> 
                        {{ submit_form.submission_name }}
                    </div>
                    Don't forget to save the file before submitting.
                    <input type="submit" value="Submit" class="ui submit button">
                </div>
            </form>
        </div>
    </div>
</div>

{% for name_code in code_form.names_codes %}
  <script>
    var editor = CodeMirror.fromTextArea(document.getElementById("{{ name_code[0] }}"), {
      lineNumbers: true,
      mode: "python",
      theme: "railscasts",
      styleActiveLine: true
    });
  </script>
{% endfor %}
{% endblock %}