{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.min.css" type="text/css" rel="stylesheet" />
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/theme/railscasts.min.css" type="text/css" rel="stylesheet" /> -->
    <style type="text/css">
    /*XXX : hack to match pretty much the colors from prettify.js */
    .cm-s-railscasts.CodeMirror {background: rgba(0,0,0,.8); color: #f4f1ed;}
        .cm-s-railscasts div.CodeMirror-selected {background: #272935 !important;}
        .cm-s-railscasts .CodeMirror-gutters {background: #2b2b2b; border-right: 0px;}
        .cm-s-railscasts .CodeMirror-linenumber {color: #AEAEAE;}
        .cm-s-railscasts .CodeMirror-cursor {border-left: 1px solid #d4cfc9 !important;}

        .cm-s-railscasts span.cm-comment {color: #bc9458;}
        .cm-s-railscasts span.cm-atom {color: #b6b3eb;}
        .cm-s-railscasts span.cm-number {color: #3387CC;}

        .cm-s-railscasts span.cm-property, .cm-s-railscasts span.cm-attribute {color: #fff;}
        .cm-s-railscasts span.cm-keyword {color: #E28964;}
        .cm-s-railscasts span.cm-string {color: #ffc66d;}

        .cm-s-railscasts span.cm-variable {color: #89bdff;}
        .cm-s-railscasts span.cm-variable-2 {color: #E28964;}
        .cm-s-railscasts span.cm-def {color: #89bdff;}
        .cm-s-railscasts span.cm-error {background: #da4939; color: #d4cfc9;}
        .cm-s-railscasts span.cm-bracket {color: #f4f1ed;}
        .cm-s-railscasts span.cm-tag {color: #da4939;}
        .cm-s-railscasts span.cm-link {color: #b6b3eb;}

        .cm-s-railscasts .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
        .cm-s-railscasts .CodeMirror-activeline-background { background: #303040; }

        .CodeMirror {
          height: 30em;
        }

    </style>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/mode/python/python.min.js"></script>
    <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/addon/selection/active-line.min.js"></script>
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
<div id="formerror" class="ui modal">
    {% for category, message in messages %}
        <div class="header">
            {{ category }}
        </div>
        <div class="content">
            <div class="description">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="actions">
        <div class="ui button">Close</div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#formerror.modal')
            .modal('setting', 'transition', 'Fade Up')
            .modal('show')
        ;
    });
</script>
{% endif %}
{% endwith %}
<h3 class="ui horizontal header divider grey">Sandbox</h3>
<center>You can either edit and save the code in the left column or upload the files in the right column. You can also import code from other submissions when the <a href="/events/{{ event.name }}/leaderboard">leaderboard</a> links are open.</center> <p>
<div class="ui stackable two column grid">
    <div class="ten wide column">
        <form class="ui form" method="post" action="" name="save">
            {{ code_form.hidden_tag() }}
            <div class="one field">
                {% for name_code in code_form.names_codes %}
                    <h4 class="ui horizontal header divider grey">{{ name_code[0] }}</h4>
                    <div>
                    <textarea cols="80" id="{{ name_code[0] }}" name="{{ name_code[0] }}">{{ name_code[1] }}</textarea>
                    </div>
                {% endfor %}
                <h4 class="ui horizontal header divider grey">Don't forget to save the files!</h4>
                <center><input type="submit" value="Save" class="ui submit button"></center>
            </div>
        </form>
    </div>
    <div class="six wide column">
        <div class="ui sticky">
        <p>
        <h4 class="ui horizontal header divider grey">File list</h4>
            {% for f in submission_names %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="description">
                        <i class="file grey icon"></i>{{ f }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p>
        <div class="ui sticky">
        <h4 class="ui horizontal header divider grey">Upload file</h4>
            <form class="ui form" action="" method="post" enctype="multipart/form-data">
                {{ upload_form.hidden_tag() }}
                <input type="file" name="file" class="ui submit button">
                <input type="submit" value="Upload" class="ui upload button">
            </form>
        </div>
    </div>
</div>
<h4 class="ui horizontal header divider grey">Submit your code!</h4>
<form class="ui form" method="post" action="" name="submit" onsubmit="checkSave()">
    {{ submit_form.hidden_tag() }}
    <div class="one field">
	<center> 
        <div class="required field">
            <label>Submission name (between 4 and 20 characters)</label> 
            {{ submit_form.submission_name }}
        </div>
        <input type="submit" value="Submit" class="ui submit button" id="checksave">
	</center> 
    </div>
</form>

{% for name_code in code_form.names_codes %}
  <script>
    var editor_{{ name_code[0] }} = CodeMirror.fromTextArea(document.getElementById("{{ name_code[0] }}"), {
      lineNumbers: true,
      mode: "python",
      theme: "railscasts",
      styleActiveLine: true
    });
  </script>
{% endfor %}

<script>
//    document.getElementById("checksave").onsubmit = function() {checkSave()};
    function checkSave() {
	var modif = 0;
	{% for name_code in code_form.names_codes %}
	    var origin_code = document.getElementById(id="{{ name_code[0] }}").innerHTML; 
            if (editor_{{ name_code[0] }}.getValue() != origin_code) {
                modif = 1;
	    }
	{% endfor %}
	if (modif == 1) {
		confirm('You certainly forgot to save your files! \n- If you do not want to save them, click on OK. \n- If you forgot to save them, click on Cancel, save your files and submit again!');
	}
    }
</script>
{% endblock %}
