{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Submission code{% endblock %}
{% block content %}

{% if submission.f_names %}
    {% set left_col_width = 'twelve' %}    
{% else %}
    {% set left_col_width = 'sixteen' %}
{% endif %}

<div class="ui stackable two column grid">
    <div class="{{ left_col_width }} wide column">
        <h4 class="ui horizontal header divider grey">
            <a href="/leaderboard"><i class="dashboard grey icon"></i>Leaderboard</a>
            <span><i class="angle right grey icon"></i></span>
            {{ submission.team.name }} 
            <span><i class="angle right grey icon"></i></span>
            {{ submission.name }} 
            <span><i class="angle right grey icon"></i></span>
            <a href="{{ submission_url }}"><i class="download grey icon"></i>{{ f_name }}</a>
            </h4>
        <a href="/credit/{{ submission.hash_ }}">Click here</a> to assess and assign credit for this submission (quantify where it comes from).
        <pre class="prettyprint linenums">{{ code }}</pre>
    </div>
    {% if submission.f_names and f_name != 'error.txt' %}
    <div class="four wide column">
        <div class="ui sticky">
        <h4 class="ui horizontal header divider grey">File list</h4>
            {% for f in submission.f_names %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="description">
                        {% if f==f_name %}
                        <i class="file grey icon"></i>{{f}}
                        {% else %}
                        <a href="{{ f }}"><i class="file grey icon"></i>{{ f }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        <h4 class="ui horizontal header divider grey">Import it to my sandbox</h4><p>
        Be careful: this will overwrite any unsubmitted changes (so even changes that you have saved but not yet submitted) in your sandbox.
        </div>
        <form class="ui form" method="post" action="" name="import">
            {{ import_form.hidden_tag() }}
            <!--<div class="one field">
                <div class="required field">
                    <label>Bla</label>
                    {% for f in import_form.files %}
                        <input type="checkbox" id="{{f}}" name="{{f}}" value="{{f}}">
                        <a href="{{ f }}"><i class="file grey icon"></i>{{ f }}</a>
                    {% endfor %}
                </div>
            </div>-->
            {{ import_form.selected_f_names }}
            <input type="submit" value="Import to my sandbox" class="ui submit button">
        </form>
    </div>
    {% endif %}
</div> 

{% endblock %}