{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Submission code{% endblock %}
{% block content %}

<div class="ui stackable one column grid">
    <div class="sixteen wide column">
        <h3 class="ui horizontal header divider grey">Diff</h3>
        <pre class="prettyprint linenums">{{ diff }}</pre>
    </div>
</div> 

{% endblock %}