{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Submission code{% endblock %}
{% block content %}

{% if submission_f_names %}
    {% set left_col_width = 'twelve' %}    
{% else %}
    {% set left_col_width = 'sixteen' %}
{% endif %}

<div class="ui stackable one column grid">
    <div class="sixteen wide column">
        <h4 class="ui horizontal header divider grey">
            <a href="/events/{{ event.name }}/leaderboard"><i class="dashboard grey icon"></i>Leaderboard</a>
            <span><i class="angle right grey icon"></i></span>
            {{ event.name }} 
            <span><i class="angle right grey icon"></i></span>
            {{ team.name }} 
            <span><i class="angle right grey icon"></i></span>
            {{ submission.name }} 
            <span><i class="angle right grey icon"></i></span>
            {{ submission.state }}
            </h4>
        <pre class="prettyprint linenums">{{ submission.error_msg }}</pre>
    </div>
</div> 

{% endblock %}