{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- // <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script> -->
    <link href="{{ url_for('static', filename='prettify/djabbz.css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='prettify/prettify.js') }}"></script>
{% endblock %}
{% block bodyoptions %}
onload="prettyPrint()"
{% endblock %}
{% block title %}Submission code{% endblock %}
{% block content %}

{% if submission_f_names %}
    {% set left_col_width = 'twelve' %}    
{% else %}
    {% set left_col_width = 'sixteen' %}
{% endif %}

<div class="ui stackable two column grid">
    <div class="{{ left_col_width }} wide column">
        <h4 class="ui horizontal header divider grey">
            <a href="/leaderboard"><i class="dashboard grey icon"></i>Leaderboard</a>
            <span><i class="angle right grey icon"></i></span>
            {{ team_name }} 
            <span><i class="angle right grey icon"></i></span>
            {{ submission_name }} 
            <span><i class="angle right grey icon"></i></span>
            <a href="{{ submission_url }}"><i class="download grey icon"></i>{{ f_name }}</a>
            </h4>
        <pre class="prettyprint linenums">{{ code }}</pre>
    </div>
    {% if submission_f_names and f_name != 'error.txt' %}
    <div class="four wide column">
        <div class="ui sticky">
        <h4 class="ui horizontal header divider grey"><a href="import/{{ f_name }}">Import it to my sandbox</a></h4>
        Be careful: this will overwrite any unsubmitted changes (so even changes that you have saved but not yet submitted) in your sandbox.
        <h4 class="ui horizontal header divider grey">File list</h4>
            {% for f in submission_f_names %}
            <div class="ui fluid card">
                <div class="content">
                    <div class="description">
                        {% if f==f_name %}
                        <i class="file grey icon"></i>{{f}}
                        {% else %}
                        <a href="{{ f }}"><i class="file grey icon"></i>{{ f }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div> 

{% endblock %}