{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

<div class="modal fade modal-warning" id="formerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  {% for category, message in messages %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ category }}</h4>
      </div>
      <div class="modal-body">
        <div class="modal-message">
          {{ message }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="page-title">
  <span class="title">{{ keyword.name }}</span>
</div>

<div class="col-xs-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        {{ keyword.description | safe }}
        <div class="title">Related problems</div>
        <ul>
          {% for problem in keyword.problems %}
          <li> <a href="/problems/{{ problem.problem.name }}">{{ problem.problem.title }}</a>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block scripts %}
<script>
  $(function () {
    $('#formerror').modal('toggle')
  });
</script>
{% endblock %}