{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

    <div class="modal fade modal-warning" id="formerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% for category, message in messages %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ category }}</h4>
                </div>
                <div class="modal-body">
                    {{ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
{% endwith %}

{% if problems|length > 0 %}
<class="badge"></class>
<ul>
    <li class="fas fa-clock-o"> waiting</li> 
    <li class="fas fa-circle-o"> challenge is opened</li> 
    <li class="fas fa-check-circle-o"> challenge is opened, you are signed up</li>
    <li class="fas fa-circle"> challenge is closed</li>
    <li class="fas fa-check-circle"> challenge is closed, you are signed up</li>
    </ul>
</class>
{% endif %}
<ul>
{% for problem in problems %}
<li> <a href="/problems/{{ problem.name }}"><strong><font size="+1">{{ problem.title }}</font></strong></a><br>
    <ul class="fa-ul">
    {% for event in problem.events %}
        {% if event.is_public %}
            {% if event.state == 'waiting' %}
                <li class="fas fa-clock-o">
            {% elif event.state == 'open_not_signed' %}
                <li class="fas fa-circle-o"> 
            {% elif event.state == 'open_signed' %}
                <li class="fas fa-check-circle-o">
            {% elif event.state == 'close_not_signed' %}
                <li class="fas fa-circle">
            {% elif event.state == 'close_signed' %}
                <li class="fas fa-check-circle">
            {% endif %}
            <a href="/events/{{ event.name }}">{{ event.title }}</a>,
                number of participants = <strong><font color=darkgreen>{{ event.n_participants }}</font></strong>,
                number of submissions = <strong><font color=darkblue>{{ event.n_submissions }}</font></strong>,
                combined score = <strong><font color=firebrick>{{ event.combined_combined_valid_score_str }}</font></strong>,
                <a href="/event_plots/{{ event.name }}">click here for score vs time plot</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
</ul>

{% endblock %}
{% block scripts %}
<script>
$(function () {
   $('#formerror').modal('toggle')
});
</script>
{% endblock %}
