flask:
    secret_key: <random string>
    # we are using the python sever to send email
    # we give an example to use SMTP and gmail client
    mail_server: localhost
    mail_port: 8025
    mail_default_sender: ['RAMP admin', 'rampmailer@localhost.com']
    # mail_server: smtp.gmail.com
    # mail_port: 587
    # mail_default_sender: ['RAMP admin', 'rampmailer@gmail.com']
    # mail_username: user
    # mail_password: password
    # mail_recipients: []
    # mail_use_tls: false
    # mail_use_ssl: false
    # mail_debug: false
    # This the name of the server. By default, the name is 'localhost'
    # domain_name : 'ramp.studio'
sqlalchemy:
    drivername: postgresql
    username: <db_user>
    password: <db_password>
    host: localhost
    port: 5432
    database: <db_name>